{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
<p>Ben M. Serdar Kuzuloğlu.

1995 yılında girdiğim medya sektöründe çeşitli gazete, dergi, radyo ve televizyon kanalında birçok farklı görev üstlendim. Bu süreçte trendleri ve teknolojiyi takip ederek okuyucu, dinleyici ve izleyicilerime aktarmaya çalıştım.

Yönetici, girişimci ve yatırımcı olarak onlarca farklı dijital projede yer aldım.

Edindiğim bilgi ve tecrübeleri 2009 yılından bu yana konuşmalarımda paylaşarak yaymaya gayret ediyorum. </p>
<hr>
{% endblock body %}