{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>

<p>
    Erhan Erkut, lisans derecesini 1980’de Boğaziçi Üniversitesi Endüstri Mühendisliği Bölümünden, doktorasını ise 1986’da Florida Üniversitesi’nden aldı. 1985-2005 yıllarında Alberta Üniversitesi İşletme Fakültesinde ders veren Prof. Erkut bu dönemde “INFORMS Teaching of Management Science Practice Award” ile “3M Teaching Fellowship” başta olmak üzere dokuz eğitim ödülü ile Canadian Operational Research Society tarafından verilmiş beş başarı ödülü aldı, ve 50’den fazla hakemli dergi makalesi yayınladı.  Eğitim ve araştırmanın yanında birçok endüstriyel projeyi de yöneten Prof. Erkut, Centre for Excellence in Operations adlı bir uygulamalı araştırma merkezi kurdu, ve INFORMS Transactions in Education dergisinin kurucu editörlüğünü yaptı.

    2005’de Türkiye’ye dönen Prof. Erkut, 2005-07 arasında Bilkent Üniversitesi İşletme Fakültesi Dekanlığı, 2008-13 arasında Özyeğin Üniversitesi Rektörlüğü, 2014′den bu yana ise MEF Üniversitesi’nde Rektör Yardımcısı görevlerinde bulundu.  İstanbul Erkek Lisesi Eğitim Vakfı, Kariyer Planlama Derneği, ve Bilim Kahramanları derneklerinde yönetim kurulu üyeliği yapan Prof. Erkut, son yıllarda Türkiye’de girişimcilik ve yetkinlik gelişimi konularında aktif olarak çalışmaktadır. Erhan Erkut’un detaylı özgeçmişine bu linkten ulaşabilirsiniz.


</p>
{% endblock body %}<h3>Hakkımızda</h3>